[submodule "cs2030s-lab1"]
	path = lab1
	url = https://github.com/EvitanRelta/cs2030s-lab1
[submodule "cs2030s-lab2"]
	path = lab2
	url = https://github.com/EvitanRelta/cs2030s-lab2
[submodule "cs2030s-lab3"]
	path = lab3
	url = https://github.com/EvitanRelta/cs2030s-lab3
[submodule "cs2030s-lab4"]
	path = lab4
	url = https://github.com/EvitanRelta/cs2030s-lab4
[submodule "pe-vim-settings"]
	path = pe-terminal-settings
	url = https://github.com/EvitanRelta/nus-pe-terminal-settings
[submodule "lab5"]
	path = lab5
	url = https://github.com/EvitanRelta/cs2030s-lab5
[submodule "lab6"]
	path = lab6
	url = https://github.com/EvitanRelta/cs2030s-lab6
